<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>azure ad b2c sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/js/uikit.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<div>Azure AD B2C Sample</div>
<hr/>
<span th:text="#{success_message}"></span><br />
<div>
    &nbsp;&nbsp;<a class="uk-button uk-button-default" href="/logout"><span th:text="#{Logout}"></span></a>&nbsp;&nbsp;
</div>
<div><p>&nbsp;</p></div>
<div>
    <span th:text="#{username}"></span>：<span th:text="${success.userName}"></span>
</div>
<div><p>&nbsp;</p></div>
<div><span th:text="#{access_token_start_time}"></span>：<span th:text="${success.nbf}"></span></div>
<div><span th:text="#{access_token_end_time}"></span>：<span th:text="${success.exp}"></span></div>
<div><span th:text="#{refresh_token_end_time}"></span>：<span th:text="${success.refreshTokenExp}"></span></div>
<div><p>&nbsp;</p></div>
<div><span th:text="#{access_token}"></span>：<span th:text="${success.token}"></span></div>
<div><p>&nbsp;</p></div>
<div><span th:text="#{refresh_token}"></span>：<span th:text="${success.refreshToken}"></span></div>
</body>
</html>
